---
import Layout from "../layouts/Layout.astro";
import Hero from "../partials/Hero.astro";
import Navbar from "../partials/Navbar.astro";
import TechCarrousel from "../components/TechCarrousel";
import Posts from "../partials/Posts.astro";
import Contact from "../partials/Contact.astro";
import { Link } from "@nextui-org/react";
import Projects from "../partials/Projects.astro";
---

<Layout title="Welcome to Astro.">
  <Navbar />
  <Hero />
  <TechCarrousel client:load />
  <p class="text-start px-3 text-2xl font-bold">
    Proyectos <span
      class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
      >Recientes</span
    >
  </p>
  <Projects />
  <div class="flex items-end justify-between pt-6">
    <p class="text-start px-3 text-2xl font-bold">
      Posteos <span
        class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
        >Recientes</span
      >
    </p>
    <Link
      href="/posts"
      className="text-white font-bold text-sm hover:underline cursor-pointer"
      >View all Posts →</Link
    >
  </div>
  <Posts />
  <Contact />
</Layout>
