---
import { Button } from "@nextui-org/react";
import { Image } from "astro:assets";

interface Props {
  title: string;
  body: string;
  image: string;
}

const { title, body, image } = Astro.props;
---

<div class="overflow-hidden rounded-md bg-slate-800">
  <img src={image} alt="project" />
  <div class="p-3 text-center">
    <h2 class="font-semibold text-lg">
      {title}
    </h2>
    <p class="text-sm">
      {body}
    </p>
    <div class="mt-3 flex items-center justify-center gap-3">
      <Button
        variant="solid"
        radius="sm"
        size="md"
        className="text-gray-100 bg-slate-700 w-full font-semibold flex items-center"
      >
        <span>Github</span>
        <Image
          src="/icons-svg/github.svg"
          alt="github"
          height={13}
          width={13}
        />
      </Button>
      <Button
        variant="solid"
        radius="sm"
        size="md"
        className="text-gray-100 bg-slate-700 w-full font-semibold flex items-center"
      >
        <span>Demo</span>
        <Image
          src="/icons-svg/play.svg"
          alt="github"
          height={13}
          width={13}
        />
      </Button>
    </div>
  </div>
</div>
