.animate-infinite-scroll {
    animation: scrollInfinite 25s linear infinite;
  }
  
  .paused .animate-infinite-scroll {
    animation-play-state: paused;
  }
  
  @keyframes scrollInfinite {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
