---
import { Image } from "astro:assets";
import { media } from "../utils/media";
import { Link } from "@nextui-org/react";
---

<section
  class="flex flex-col sm:flex-row sm:items-center justify-between px-3 pt-8 pb-10 gap-5"
>
  <div class="flex flex-col">
    <p class="text-3xl font-bold">
      ¡Hola!, soy <span
        class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent"
        >Ariel</span
      > 👋
    </p>
    <p class="mt-3 md:mt-6 text-xl md:leading-9 md:max-w-xl">
      Un desarrollador web fullstack autodidacta. Con
      habilidades versátiles y capacidad de adaptación, estoy listo para
      contribuir en proyectos desafiantes. ¡Emocionado por seguir creciendo y
      aprendiendo en este campo!
    </p>
    <ul class="flex items-center gap-5 mt-4 md:mt-6">
      {
        media.map((icon) => (
          <Link
            key={icon.name}
            href={icon.link}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Image src={icon.icon} alt={icon.name} width={35} height={35} />
          </Link>
        ))
      }
    </ul>
  </div>
  <img
    class="h-80 w-64 mx-auto sm:m-0"
    src="/images/avatar.svg"
    alt="Avatar image"
    loading="lazy"
  />
</section>
