---
import { Link } from "@nextui-org/react";
---

<header class="py-6 px-3">
  <nav class="flex items-center justify-between">
    <Link className="font-bold text-2xl text-white cursor-pointer" href="/">
      A<span class="text-sky-500">V</span>
    </Link>

    <ul class="flex items-center gap-5 font-medium">
      <Link href="/posts" className="relative text-white cursor-pointer before p-1">Blog</Link>
      <Link
        href="/pdf/ArielValdés.pdf"
        className="relative p-1 cursor-pointer before text-white"
        target="_blank"
        download={"cv.pdf"}
      >
        Descargar CV
      </Link>
    </ul>
  </nav>
</header>
