---
import { Link } from "@nextui-org/react";
---

<header class="py-6 px-3">
  <nav class="flex items-center justify-between">
    <span class="font-bold text-2xl">
      A<span class="text-sky-500">V</span>
    </span>

    <ul class="flex items-center gap-5 font-medium">
      <Link
        href="/pdf/cv.pdf"
        className="relative p-1 cursor-pointer before text-white"
        target="_blank"
        download={"cv.pdf"}
      >
        Descargar CV
      </Link>
    </ul>
  </nav>
</header>

