---
import Navbar from "../partials/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-900 text-gray-100">
    <main class="max-w-[920px] mx-auto">
      <slot />
      <script
        is:inline
        src="https://cdn.botpress.cloud/webchat/v1/inject.js"
        defer></script>
      <script
        is:inline
        src="https://mediafiles.botpress.cloud/ced21d01-149a-4e57-910d-022cfeaf3f93/webchat/config.js"
        defer></script>
    </main>
  </body>
</html>
