---
import { ToastContainer } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
---

<!doctype html>
<html lang="en" class="bg-slate-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Ariel Valdés | Fullstack-Developer</title>
  </head>
  <body class="text-gray-100">
    <main class="max-w-[920px] mx-auto">
      <slot />
      <ToastContainer
        client:load
        position="top-center"
        autoClose={4000}
        hideProgressBar={false}
        newestOnTop={false}
        closeOnClick
        rtl={false}
        pauseOnFocusLoss
        draggable
        pauseOnHover
        theme="dark"
      />
      <script
        is:inline
        src="https://cdn.botpress.cloud/webchat/v1/inject.js"
        defer></script>
      <script
        is:inline
        src="https://mediafiles.botpress.cloud/ced21d01-149a-4e57-910d-022cfeaf3f93/webchat/config.js"
        defer></script>
    </main>
  </body>
</html>
